
*~
*.test% 

.vscode/

# Objetos compilados
*.o
*.a
*.so

# Folders
_obj
_test

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.db
*.log
*.prof

# storage do sistema
src/fileserver/storage
